name: Test

on:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-20.04]
        tarantool:
          - '1.10'
          - '2.4'
          - '2.5'
          - '2.6'
          - '2.7'
          - '2.8'
          - '2.9'
          - '2.10'
        nightly: [false]
        include:
        # We have Ubuntu Jammy (22.04) packages only for 2.10 at
        # the moment of adding this code. There is commit
        # 1.10.13-9-g2d23c9d9c, but 1.10.14 is not released yet.
        # And there is some infrastructure problem with Jammy
        # packages in the live/1.10 repository.
        #
        # Anyway, 2.10 is okay to test the action of Jammy runner,
        # so just use it.
        - {runs-on: ubuntu-22.04, tarantool: '2.10', nightly: false}
        - {runs-on: ubuntu-20.04, tarantool: '1.10', nightly: true}
        - {runs-on: ubuntu-18.04, tarantool: '1.10', nightly: true}
    runs-on: ${{ matrix.runs-on }}
    env:
      TARANTOOL_CACHE_KEY_SUFFIX: -A-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3

      - id: get-latest
        run: |
          node <<'SCRIPT'
            process.env["INPUT_TARANTOOL-VERSION"] = "${{ matrix.tarantool }}"
            process.env["INPUT_NIGHTLY-BUILD"] = "${{ matrix.nightly }}"
            require("./dist/main").latest_version().then(v => {
              console.log(v)
              console.log(`::set-output name=version::${v}`)
            })
          SCRIPT

      - name: Setup from scratch
        uses: ./
        with:
          tarantool-version: ${{ matrix.tarantool }}
          nightly-build: ${{ matrix.nightly }}

      - name: Check precise version
        run: |
          dpkg -s tarantool | grep '^Version: ${{ steps.get-latest.outputs.version }}'
          # It'll also fail if tarantool is installed from cache but not from apt-get

      - name: Uninstall tarantool
        run: sudo apt-get -y remove tarantool tarantool-dev tarantool-common

      - name: Setup from cache
        uses: ./
        with:
          tarantool-version: ${{ matrix.tarantool }}
          nightly-build: ${{ matrix.nightly }}

      - name: Verify install from cache
        run: |
          # Fail if tarantool is installed from apt-get
          if dpkg -s tarantool; then
            echo "Tarantool wasn't restored from cache"
            exit 1
          fi

      - name: Check branch version
        run: |
          T=$(tarantool -e 'print(_TARANTOOL:match("%d+%.%d+")); os.exit()')
          if [ "$T" != "${{ matrix.tarantool }}" ]; then
            echo "Tarantool version is $T, expected ${{ matrix.tarantool }}"
            exit 1
          else
            echo "Tarantool version is $T, as expected"
          fi

  test-concurrency:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-20.04, ubuntu-20.04, ubuntu-20.04]
    runs-on: ${{ matrix.runs-on }}
    env:
      TARANTOOL_CACHE_KEY_SUFFIX: -B-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup Tarantool
        uses: ./
        with:
          tarantool-version: '1.10'

  # This test case performs basic test of the three digit version
  # support.
  #
  # It performs the following steps and checks.
  #
  # - install 1.10.12
  #   - checks: version, non-cached
  # - uninstall tarantool
  # - install 1.10.12
  #   - checks: version, cached
  # - install 1.10.LATEST
  #   - checks: version, non-cached
  test-exact-version-basic:
    runs-on: ubuntu-latest
    env:
      TARANTOOL_CACHE_KEY_SUFFIX: -C-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3

      - id: latest-version
        uses: ./.github/actions/latest-version
        with:
          tarantool-series: '1.10'

      - name: Install 1.10.12 (non-cached)
        uses: ./
        with:
          tarantool-version: '1.10.12'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '1.10.12-0'
          from-cache: false

      - name: Uninstall tarantool
        run: sudo apt-get -y remove tarantool tarantool-dev tarantool-common

      - name: Install 1.10.12 (cached)
        uses: ./
        with:
          tarantool-version: '1.10.12'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '1.10.12-0'
          from-cache: true

      - name: Install 1.10.LATEST (non-cached)
        uses: ./
        with:
          tarantool-version: '${{ steps.latest-version.outputs.abc }}'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: false

  # This test case verifies that a two digit version is installed
  # without any problem after a three digit version (not a latest
  # one).
  #
  # - install 1.10.12
  #   - checks: version, non-cached
  # - uninstall tarantool
  # - install 1.10
  #   - checks: version, non-cached
  test-exact-version-then-two-digit-version:
    runs-on: ubuntu-latest
    env:
      TARANTOOL_CACHE_KEY_SUFFIX: -D-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3

      - id: latest-version
        uses: ./.github/actions/latest-version
        with:
          tarantool-series: '1.10'

      - name: Install 1.10.12 (non-cached)
        uses: ./
        with:
          tarantool-version: '1.10.12'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '1.10.12-0'
          from-cache: false

      - name: Uninstall tarantool
        run: sudo apt-get -y remove tarantool tarantool-dev tarantool-common

      - name: Install 1.10 (non-cached)
        uses: ./
        with:
          tarantool-version: '1.10'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: false

  # This test case verifies that a two digit version is installed
  # without any problem after a three digit version (the latest
  # one).
  #
  # - install 1.10.LATEST
  #   - checks: version, non-cached
  # - uninstall tarantool
  # - install 1.10
  #   - checks: version, cached
  test-exact-version-latest-then-two-digit-version:
    runs-on: ubuntu-latest
    env:
      TARANTOOL_CACHE_KEY_SUFFIX: -E-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3

      - id: latest-version
        uses: ./.github/actions/latest-version
        with:
          tarantool-series: '1.10'

      - name: Install 1.10.LATEST (non-cached)
        uses: ./
        with:
          tarantool-version: '${{ steps.latest-version.outputs.abc }}'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: false

      - name: Uninstall tarantool
        run: sudo apt-get -y remove tarantool tarantool-dev tarantool-common

      - name: Install 1.10 (cached)
        uses: ./
        with:
          tarantool-version: '1.10'
          nightly-build: false

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: true

  # This test case performs basic test of four digit version
  # support (for nightly repositories).
  #
  # - install 1.10.LATEST.LATEST (nightly)
  #   - checks: version, non-cached
  # - uninstall tarantool
  # - install 1.10.LATEST (nightly)
  #   - checks: version, cached
  # - install 1.10 (nightly)
  #   - checks: version, cached
  test-exact-version-nightly:
    runs-on: ubuntu-latest
    env:
      TARANTOOL_CACHE_KEY_SUFFIX: -F-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3

      - id: latest-version
        uses: ./.github/actions/latest-version
        with:
          tarantool-series: '1.10'
          nightly-build: true

      - name: Install 1.10.LATEST.LATEST (nightly, non-cached)
        uses: ./
        with:
          tarantool-version: '${{ steps.latest-version.outputs.abcd }}'
          nightly-build: true

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: false

      - name: Uninstall tarantool
        run: sudo apt-get -y remove tarantool tarantool-dev tarantool-common

      - name: Install 1.10.LATEST (nightly, cached)
        uses: ./
        with:
          tarantool-version: '1.10'
          nightly-build: true

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: true

      - name: Install 1.10 (nightly, cached)
        uses: ./
        with:
          tarantool-version: '1.10'
          nightly-build: true

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ steps.latest-version.outputs.git-describe }}'
          from-cache: true

  # This test case installs tarantool of series-2 using
  # one/two/three digit version specifier.
  #
  # It performs the following steps and checks.
  #
  # - install 2/2.10/2.10.0
  #   - checks: version, non-cached
  # - uninstall tarantool
  # - install 2/2.10/2.10.0
  #   - checks: version, cached
  test-series-2:
    strategy:
      fail-fast: false
      matrix:
        tarantool:
          - '2'
          - '2.10'
          - '2.10.0'
    runs-on: ubuntu-latest
    env:
      # github.run_id is the same across different jobs created
      # from the same matrix.
      TARANTOOL_CACHE_KEY_SUFFIX: -G-${{ matrix.tarantool }}-${{ github.run_id }}
    steps:
      - uses: actions/checkout@v3

      - name: Install ${{ matrix.tarantool }} (non-cached)
        uses: ./
        with:
          tarantool-version: '${{ matrix.tarantool }}'

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ matrix.tarantool }}'
          from-cache: false

      - name: Uninstall tarantool
        run: sudo apt-get -y remove tarantool tarantool-dev tarantool-common

      - name: Install ${{ matrix.tarantool }} (cached)
        uses: ./
        with:
          tarantool-version: '${{ matrix.tarantool }}'

      - uses: ./.github/actions/verify-version
        with:
          tarantool-version: '${{ matrix.tarantool }}'
          from-cache: true
